.ipynb_checkpoints

pubmed20n0001.xml

__pycache__/

.vscode/
.idea/

pubmed/

db.sqlite3
/hw3/hw_server/word2vec.csv
/hw3/hw_server/word2vec_sg.model
/hw3/hw_server/word2vec_image_sg.model
/hw3/hw_server/word2vec_2003_sg.model
/hw3/hw_server/word2vec_bat_sg.model
/hw3/hw_server/word2vec_mask_sg.model
/hw3/hw_server/word2vec_2003.csv
/hw3/hw_server/word2vec_bat.csv
/hw3/hw_server/word2vec_image.csv
/hw3/hw_server/word2vec_mask.csv
/hw4/hw_server/colorectal_cancer/
/hw4/hw_server/Genetic_disease/
