{% load static %}
{% load search_extra %}
{% load crispy_forms_tags %}

<html lang="en">
<head>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!------ Include the above in your HEAD tag ---------->

	<title>Scatter Chart</title>
	<script src={% static "js/chart.js" %}></script>
	<script src={% static "js/chart_utils.js" %}></script>

	<link rel="stylesheet" href="{% static 'css/page_theme.css' %}">
	<style src={% static "css/page_theme.css" %}></style>

	<style>
		canvas {
			-moz-user-select: none;
			-webkit-user-select: none;
			-ms-user-select: none;
		}
	</style>


</head>
<body>
	{% comment %} background below {% endcomment %}
	<nav class="navbar navbar-expand navbar-dark bg-primary"> <a href="#menu-toggle" id="menu-toggle" class="navbar-brand"><span class="navbar-toggler-icon"></span></a> <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
		<div class="collapse navbar-collapse" id="navbarsExample02">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"> <a class="nav-link" href="">Home <span class="sr-only">(current)</span></a> </li>
			</ul>
			<form class="form-inline my-2 my-md-0"> </form>
		</div>
	</nav>
	<div id="wrapper" class="toggled">
		<!-- Sidebar -->
		<div id="sidebar-wrapper">
			<ul class="sidebar-nav">
				<li> <a>_</a> </li>
				<li> <button type="button" id="word0" class="btn btn-outline-secondary">Mask</button> </li>
				<li> <button type="button" id="word1" class="btn btn-outline-secondary">Children</button> </li>
			</ul>
		</div> <!-- /#sidebar-wrapper -->
		{% comment %} radio buttons {% endcomment %}
<!--{#		<br>#}-->
<!--{#		<div class="btn-group btn-group-toggle" data-toggle="buttons">#}-->
<!--{#			<div class="radio buttons">#}-->
<!--{#				<label class="btn btn-secondary">#}-->
<!--{#					<input type="radio" name="options" id="option2" autocomplete="off" checked onclick="openClass('container_table')"> Frequency Table#}-->
<!--{#				</label>#}-->
<!--{#				<label class="btn btn-secondary active">#}-->
<!--{#					<input type="radio" name="options" id="option1" autocomplete="off" checked onclick="openClass('canvas')"> Zipf Chart#}-->
<!--{#				</label>#}-->
<!--{#				<label class="btn btn-secondary active">#}-->
<!--{#					<input type="radio" name="options" id="option1" autocomplete="off" checked onclick="openClass('both')"> Both#}-->
<!--{#				</label>#}-->
<!--{#			</div>#}-->
<!--{#		</div>#}-->
		{% comment %} radio buttons end {% endcomment %}
		<!-- Page Content -->
		{% comment %} Make sure to keep all page content within the #page-content-wrapper {% endcomment %}
		<div id="page-content-wrapper">
			<div class="container-fluid">
				<h1 class="container" id="chart_title">Covid-19 Word2Vec T-SNE Chart</h1>
				{% comment %} chart below {% endcomment %}
				<div style="width:100%">
					<canvas id="canvas" class="container canvas"></canvas>
				</div>
				<h1 class="container" id="chart_title2">Covid-19 Zipf Chart</h1>
				{% comment %} chart below {% endcomment %}
				<div style="width:100%">
					<canvas id="canvas2" class="container canvas"></canvas>
				</div>

				{% comment %} <button id="randomizeData">Randomize Data</button> {% endcomment %}
				<script>

					function generateData(x_vals, y_vals) {
						var data = [];

						for (var i = 0; i < x_vals.length; i++){
							data.push({
								x: x_vals[i],
								y: y_vals[i]
							});

						}
						return data;
					}

					function generateZipfData(y, start_pos) {
						var data = [];

						for (var i = 0; i < y.length; i++){
							data.push({
								x: i + start_pos,
								y: y[i]
							});

						}
						return data;
					}

					function getRandomColor() {
						var letters = '0123456789ABCDEF'.split('');
						var color = '#';
						for (var i = 0; i < 6; i++ ) {
							color += letters[Math.floor(Math.random() * 16)];
						}
						return color;
					}

					function getDataSet(par) {
						var dataset = [];

						switch (par){
						    {# draw tsne #}
						    case 0:
                                dataset.push({label: "high_freq",
                                    backgroundColor: window.chartColors.red,
                                    data: generateData({{ covid19_x|custom_slice:high_freq }}, {{ covid19_y|custom_slice:high_freq }}) });
                                dataset.push({label: "mid_freq",
                                    backgroundColor: window.chartColors.blue,
                                    data: generateData({{ covid19_x|custom_slice:mid_freq }}, {{ covid19_y|custom_slice:mid_freq }}) });
								dataset.push({label: "low_freq",
                                    backgroundColor: window.chartColors.green,
                                    data: generateData({{ covid19_x|custom_slice:low_freq }}, {{ covid19_y|custom_slice:low_freq }}) });
                                break;
                            {# draw zipf #}
                            case 1:
                                dataset.push({label: "high_freq",
                                    backgroundColor: window.chartColors.red,
                                    data: generateZipfData({{ freqs|custom_slice:high_freq }}, 0) });
                                dataset.push({label: "mid_freq",
                                    backgroundColor: window.chartColors.blue,
                                    data: generateZipfData({{ freqs|custom_slice:mid_freq }}, {{ high_freq|get_element:1 }}) });
								dataset.push({label: "low_freq",
                                    backgroundColor: window.chartColors.green,
                                    data: generateZipfData({{ freqs|custom_slice:low_freq }}, {{ mid_freq|get_element:1 }}) });
                                break;
                        }

						return dataset;
					}

                    function createChartData(par){
					    var scatterChartData = {
                            datasets : getDataSet(par),
                        };

					    return scatterChartData;
                    }


					window.onload = function() {
						// draw tsne
						var ctx = document.getElementById('canvas').getContext('2d');

                        window.myScatter = Chart.Scatter(ctx, {
                            data: createChartData(0),
                            options: {
                                title: {
                                    display: true,
                                    text: 'Scatter Chart'
                                },
                            }
                        });
                        // draw zipf
						var ctx2 = document.getElementById('canvas2').getContext('2d');

                        window.myScatter = Chart.Scatter(ctx2, {
                            data: createChartData(1),
                            options: {
                                title: {
                                    display: true,
                                    text: 'Scatter Chart'
                                },
                            }
                        });
					};

					document.getElementById('word0').addEventListener('click', function() {
						var ctx = document.getElementById('canvas').getContext('2d');
						window.myScatter.destroy();
						window.myScatter = Chart.Scatter(ctx, {
							data: createChartData(0),
							options: {
								title: {
									display: true,
									text: "Zipf Chart",
								},
							}
						});
						window.myScatter.update();
					});

					document.getElementById('word1').addEventListener('click', function() {
						var ctx = document.getElementById('canvas').getContext('2d');
						window.myScatter.destroy();
						window.myScatter = Chart.Scatter(ctx, {
							data: createChartData(1),
							options: {
								title: {
									display: true,
									text: "Zipf Chart",
								},
							}
						});
						window.myScatter.update();
					});

					document.getElementById('word2').addEventListener('click', function() {
						var ctx = document.getElementById('canvas').getContext('2d');
						window.myScatter.destroy();
						window.myScatter = Chart.Scatter(ctx, {
							data: createChartData(1),
							options: {
								title: {
									display: true,
									text: "Zipf Chart",
								},
							}
						});
						window.myScatter.update();
					});

					{% comment %} this function listens radio buttons to switch tab {% endcomment %}
					{#function openClass(className) {#}
					{#	var i, x;#}
					{#	// get class="container" in page#}
					{#	x = document.getElementsByClassName("container");#}
					{#	//for all x class="container"  => display:none (hide show)#}
					{#	for (i = 0; i < x.length; i++) {#}
					{#		x[i].style.display = "none";#}
					{#	}#}
					{#	if (className.localeCompare('both') == 0) {#}
					{#		document.getElementById("canvas").style.display = "block";#}
					{#		document.getElementById("container_table").style.display = "table";#}
					{#		document.getElementById("chart_title").style.display = "block";#}
					{#	} #}
					{#	//show only clicked content#}
					{#	else if (className.localeCompare('container_table') == 0) {#}
					{#		document.getElementById(className).style.display = "table";#}
					{#	} else {#}
  					{#		document.getElementById(className).style.display = "block";#}
					{#		document.getElementById("chart_title").style.display = "block";#}
					{#	}#}


					{% comment %} document.getElementById('option1').addEventListener('click', function() {
						scatterChartData.datasets.forEach(function(dataset) {
							dataset.data = dataset.data.map(function() {
								return {
									x: randomScalingFactor(),
									y: randomScalingFactor()
								};
							});
						});
						window.myScatter.update();
					}); {% endcomment %}
				</script>
				{% comment %} chart above {% endcomment %}
				<br>

				{% comment %} table below {% endcomment %}
                {% comment %} <h2>Ranking of CT in the following subsets</h2>
				<table class="table table-striped container" id="container_table">
					<thead class="thead-dark">
						<tr>
						<th scope="col">Rank %</th>
						<th scope="col">Rank #</th>
                        <th scope="col">Subset size</th>
						<th scope="col">Subset</th>
						</tr>
					</thead>
					<tbody>
						<tr>
						<th scope="row">{{ mask_rank|cal_percentage:mask_subset_article_num }}</th>
							<td>{{ mask_rank }}</td>
                            <td>{{ mask_subset_article_num  }}</td>
							<td>mask</td>
						</tr>
                        <tr>
						<th scope="row">{{ children_rank|cal_percentage:children_subset_article_num }}</th>
							<td>{{ children_rank }}</td>
                            <td>{{ children_subset_article_num  }}</td>
							<td>children</td>
						</tr>
                        <tr>
						<th scope="row">{{ 2003_rank|cal_percentage:2003_subset_article_num }}</th>
							<td>{{ 2003_rank }}</td>
                            <td>{{ 2003_subset_article_num  }}</td>
							<td>2003</td>
						</tr>
                        <tr>
						<th scope="row">{{ 2019_rank|cal_percentage:2019_subset_article_num }}</th>
							<td>{{ 2019_rank }}</td>
                            <td>{{ 2019_subset_article_num  }}</td>
							<td>2019</td>
						</tr>
                        <tr>
						<th scope="row">{{ pneumothorax_rank|cal_percentage:pneumothorax_subset_article_num }}</th>
							<td>{{ pneumothorax_rank }}</td>
                            <td>{{ pneumothorax_subset_article_num  }}</td>
							<td>pneumothorax</td>
						</tr>
                        <tr>
						<th scope="row">{{ pneumonia_rank|cal_percentage:pneumonia_subset_article_num }}</th>
							<td>{{ pneumonia_rank }}</td>
                            <td>{{ pneumonia_subset_article_num  }}</td>
							<td>pneumonia</td>
						</tr>
                        <tr>
						<th scope="row">{{ image_rank|cal_percentage:image_subset_article_num }}</th>
							<td>{{ image_rank }}</td>
                            <td>{{ image_subset_article_num  }}</td>
							<td>image</td>
						</tr>
                        <tr>
						<th scope="row">{{ adult_rank|cal_percentage:adult_subset_article_num }}</th>
							<td>{{ adult_rank }}</td>
                            <td>{{ adult_subset_article_num  }}</td>
							<td>adult</td>
						</tr>
                        <tr>
						<th scope="row">{{ bat_rank|cal_percentage:bat_subset_article_num }}</th>
							<td>{{ bat_rank }}</td>
                            <td>{{ bat_subset_article_num  }}</td>
							<td>bat</td>
						</tr>
                        <tr>
						<th scope="row">{{ immune_rank|cal_percentage:immune_subset_article_num }}</th>
							<td>{{ immune_rank }}</td>
                            <td>{{ immune_subset_article_num  }}</td>
							<td>immune</td>
						</tr>
                        <tr>
						<th scope="row">{{ wuhan_rank|cal_percentage:wuhan_subset_article_num }}</th>
							<td>{{ wuhan_rank }}</td>
                            <td>{{ wuhan_subset_article_num  }}</td>
							<td>wuhan</td>
						</tr>
                        <tr>
						<th scope="row">{{ vaccin_rank|cal_percentage:vaccin_subset_article_num }}</th>
							<td>{{ vaccin_rank }}</td>
                            <td>{{ vaccin_subset_article_num  }}</td>
							<td>vaccine</td>
						</tr>
					</tbody>
				</table> {% endcomment %}
				{% comment %} table above {% endcomment %}
				{% comment %} table below {% endcomment %}
{#				{% if freq|check_empty %}#}
{#				<table class="table table-striped table-bordered container" id="container_table">#}
{#					<thead class="thead-dark">#}
{#						<tr>#}
{#						<th scope="col">Frequency after stemming</th>#}
{#						<th scope="col">Stem Word</th>#}
{#						<th scope="col">#</th>#}
{#						<th scope="col">Origin Frequency</th>#}
{#						<th scope="col">Origin Word</th>#}
{#						<th scope="col">#</th>#}
{#						</tr>#}
{#					</thead>#}
{#					<tbody>#}
{#						{% for i in top_words_ori %}#}
{#						<tr>#}
{#						<th scope="row">{{ freq_stem|get_element:forloop.counter0 }}</th>#}
{#							<td>{{ top_words_stem|get_element:forloop.counter0 }}</td>#}
{#							<td>{{ forloop.counter0 }}</td>#}
{#							<td>{{ freq_ori|get_element:forloop.counter0 }}</td>#}
{#							<td>{{ i }}</td>#}
{#							<td>{{ forloop.counter0 }}</td>#}
{#						</tr>#}
{#						{% endfor %}#}
{#					</tbody>#}
{#				</table>#}
{#				{% endif %}#}
{#				{% comment %} table above {% endcomment %}#}
			</div>
		</div> <!-- /#page-content-wrapper -->
	</div> <!-- /#wrapper -->
	<!-- Bootstrap core JavaScript -->
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.bundle.min.js"></script> <!-- Menu Toggle Script -->
	<script>
		$(function(){
		$("#menu-toggle").click(function(e) {
			e.preventDefault();
			$("#wrapper").toggleClass("toggled");
		});

		$(window).resize(function(e) {
			if($(window).width()<=768){
			$("#wrapper").removeClass("toggled");
			}else{
			$("#wrapper").addClass("toggled");
			}
		});
		});

	</script>
	{% comment %} background above {% endcomment %}

</body>
</html>
