{% load static %}
{% load search_extra %}
{% load crispy_forms_tags %}

<html lang="en">
<head>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!------ Include the above in your HEAD tag ---------->

	<title>Scatter Chart</title>
	<script src={% static "js/chart.js" %}></script>
	<script src={% static "js/chart_utils.js" %}></script>

	<link rel="stylesheet" href="{% static 'css/page_theme.css' %}">
	<style src={% static "css/page_theme.css" %}></style>

	<style>
		canvas {
			-moz-user-select: none;
			-webkit-user-select: none;
			-ms-user-select: none;
		}
	</style>


</head>
<body>
	{% comment %} background below {% endcomment %}
	<nav class="navbar navbar-expand navbar-dark bg-primary"> <a href="#menu-toggle" id="menu-toggle" class="navbar-brand"><span class="navbar-toggler-icon"></span></a> <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
		<div class="collapse navbar-collapse" id="navbarsExample02">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"> <a class="nav-link" href="">Home <span class="sr-only">(current)</span></a> </li>
			</ul>
			<form class="form-inline my-2 my-md-0"> </form>
		</div>
	</nav>
	<div id="wrapper" class="toggled">
		<!-- Sidebar -->
		<div id="sidebar-wrapper">
			<ul class="sidebar-nav">
				<li class="sidebar-brand"> <a href="{% url 'zipf' opt=9%}"> Show All </a> </li>
				<li> <a href="{% url 'zipf' opt=0%}">COVID19_origin</a> </li>
				<li> <a href="{% url 'zipf' opt=1%}">COVID19_stem</a> </li>
				<li> <a href="{% url 'zipf' opt=4%}">COVID19</a> </li>
				<li> <a href="{% url 'zipf' opt=5%}">COVID19</a> </li>
			</ul>
		</div> <!-- /#sidebar-wrapper -->
		<!-- Page Content -->
		{% comment %} Make sure to keep all page content within the #page-content-wrapper {% endcomment %}
		<div id="page-content-wrapper">
			{% comment %} search bar {% endcomment %}
			<form action="{% url "zipf_search" %}" method="post">
				{% csrf_token %}
				{% crispy form %}
				{% comment %} <input type="submit" value="submit"> {% endcomment %}
			</form>
			{% comment %} end search_bar {% endcomment %}
			<div class="container-fluid">
				<h1>{{ char_title }}</h1>
				{% comment %} chart below {% endcomment %}
				<div style="width:75%">
					<canvas id="canvas"></canvas>
				</div>
				<button id="randomizeData">Randomize Data</button>
				<script>
					var color = Chart.helpers.color;
					var top_freq = {{ top_freq|escapejs}}
					var other_freq = {{ other_freq|escapejs }}

					function generateData(par) {
						var data = [];
						
						data.push({
							x: par,
							y: top_freq[par]
						});
						
						return data;
					}
					
					function generateOtherData() {
						var data = [];
						
						for (var i = 0; i < 1000; i++){
							data.push({
								x: i+100,
								y: other_freq[i]
							});
						}
						return data;
						
					}
					
					function getDataSet() {
						var dataset = [];
						for (var i = 0; i < 100 ; i++){
							dataset.push({label: i,
										backgroundColor: getRandomColor(),
										data: generateData(i)})
						}
						
						dataset.push({label: "other",
							backgroundColor: getRandomColor(),
							data: generateOtherData() })
						return dataset;
					}
					
					function getRandomColor() {
						var letters = '0123456789ABCDEF'.split('');
						var color = '#';
						for (var i = 0; i < 6; i++ ) {
							color += letters[Math.floor(Math.random() * 16)];
						}
						return color;
					}
					

					var scatterChartData = {
						datasets : getDataSet(),
					};

					window.onload = function() {
						var ctx = document.getElementById('canvas').getContext('2d');
						window.myScatter = Chart.Scatter(ctx, {
							data: scatterChartData,
							options: {
								title: {
									display: true,
									text: 'Chart.js Scatter Chart'
								},
							}
						});
					};

					document.getElementById('randomizeData').addEventListener('click', function() {
						scatterChartData.datasets.forEach(function(dataset) {
							dataset.data = dataset.data.map(function() {
								return {
									x: randomScalingFactor(),
									y: randomScalingFactor()
								};
							});
						});
						window.myScatter.update();
					});
				</script>
				{% comment %} chart above {% endcomment %}

				{% comment %} table below {% endcomment %}
				<table class="table">
					<thead>
						<tr>
						<th scope="col">Frequency</th>
						<th scope="col">Word</th>
						<th scope="col">#</th>
						</tr>
					</thead>
					<tbody>
						{% for i in top_words %}
						<tr>
						<th scope="row">{{ top_freq|get_element:forloop.counter0 }}</th>
							<td>{{ i }}</td>
							<td>{{ forloop.counter }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
				{% comment %} table above {% endcomment %}
			</div>
			{% comment %} search result {% endcomment %}
			<div class="list-group">
				{% for i in titles_name %}
					<a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
						<div class="d-flex w-100 justify-content-between">
						<small class="text-muted">{{ titles_freq|get_element:forloop.counter0 }} matched</small>
						<h5 class="mb-1">{{ i|remove_period }}</h5>
						</div>
						{% comment %} <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
						<small class="text-muted">Donec id elit non mi porta.</small> {% endcomment %}
					</a>
				{% endfor %}
			</div>
	{% comment %} end search result {% endcomment %}
		</div> <!-- /#page-content-wrapper -->
	</div> <!-- /#wrapper -->

	<!-- Bootstrap core JavaScript -->
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.bundle.min.js"></script> <!-- Menu Toggle Script -->
	<script>
		$(function(){
		$("#menu-toggle").click(function(e) {
			e.preventDefault();
			$("#wrapper").toggleClass("toggled");
		});

		$(window).resize(function(e) {
			if($(window).width()<=768){
			$("#wrapper").removeClass("toggled");
			}else{
			$("#wrapper").addClass("toggled");
			}
		});
		});
		
	</script>
	{% comment %} background above {% endcomment %}

</body>
</html>
