{% load static %}
{% load search_extra %}
{% load crispy_forms_tags %}

<html lang="en">
<head>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!------ Include the above in your HEAD tag ---------->

	<title>Scatter Chart</title>
	<script src={% static "js/chart.js" %}></script>
	<script src={% static "js/chart_utils.js" %}></script>

	<link rel="stylesheet" href="{% static 'css/page_theme.css' %}">
	<style src={% static "css/page_theme.css" %}></style>

	<style>
		canvas {
			-moz-user-select: none;
			-webkit-user-select: none;
			-ms-user-select: none;
		}
	</style>


</head>
<body>
	{% comment %} background below {% endcomment %}
	<nav class="navbar navbar-expand navbar-dark bg-primary"> <a href="#menu-toggle" id="menu-toggle" class="navbar-brand"><span class="navbar-toggler-icon"></span></a> <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
		<div class="collapse navbar-collapse" id="navbarsExample02">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"> <a class="nav-link" href="">Home <span class="sr-only">(current)</span></a> </li>
			</ul>
			<form class="form-inline my-2 my-md-0"> </form>
		</div>
	</nav>
	<div id="wrapper" class="toggled">
		<!-- Sidebar -->
		<div id="sidebar-wrapper">
			<ul class="sidebar-nav">
				<li class="sidebar-brand"> <a href="{% url 'zipf' opt=9%}"> Show All </a> </li>
				<li> <a href="{% url 'zipf' opt=0%}">COVID19_origin</a> </li>
				<li> <a href="{% url 'zipf' opt=1%}">COVID19_stem</a> </li>
				<li> <a href="{% url 'zipf' opt=2%}">COVID19_Both</a> </li>
				<li> <a href="{% url 'zipf_search' subset=0%}">COVID19_mask</a> </li>
				<li> <a href="{% url 'zipf_search' subset=1%}">COVID19_2005</a> </li>
			</ul>
		</div> <!-- /#sidebar-wrapper -->
		{% comment %} radio buttons {% endcomment %}
		<br>
		<div class="btn-group btn-group-toggle" data-toggle="buttons">
			<div class="radio buttons">
				<label class="btn btn-secondary">
					<input type="radio" name="options" id="option2" autocomplete="off" checked onclick="openClass('container_table')"> Frequency Table
				</label>
				<label class="btn btn-secondary active">
					<input type="radio" name="options" id="option1" autocomplete="off" checked onclick="openClass('canvas')"> Zipf Chart
				</label>
				<label class="btn btn-secondary active">
					<input type="radio" name="options" id="option1" autocomplete="off" checked onclick="openClass('both')"> Both
				</label>
			</div>
		</div>
		{% comment %} radio buttons end {% endcomment %}
		<!-- Page Content -->
		{% comment %} Make sure to keep all page content within the #page-content-wrapper {% endcomment %}
		<div id="page-content-wrapper">
			{% comment %} search bar {% endcomment %}
			<form action="{% url "zipf_search" %}" method="post">
				{% csrf_token %}
				{% crispy form %}
				{% comment %} <input type="submit" value="submit"> {% endcomment %}
			</form>
			{% comment %} end search bar {% endcomment %}
			<div class="container-fluid">
				<h1 class="container" id="chart_title">Covid-19 {{ title }} Zipf Chart</h1>
				{% comment %} chart below {% endcomment %}
				<div style="width:75%">
					<canvas id="canvas" class="container canvas"></canvas>
				</div>
				{% comment %} <button id="randomizeData">Randomize Data</button> {% endcomment %}
				<script>
					var color = Chart.helpers.color;
					var title = "{{title|escapejs}}";
					var freq = {{ freq|escapejs}};
					var freq_ori = {{ freq_ori|escapejs}};
					var freq_stem = {{ freq_stem|escapejs}};

					function generateData() {
						var data = [];
						
						for (var i = 0; i < 1000; i++){
							data.push({
								x: i,
								y: freq[i]
							});
						}
						return data;
					}
 
					function generateOriData() {
						var data = [];
						
						
						for (var i = 0; i < 1000; i++){
							data.push({
								x: i,
								y: freq_ori[i]
							});
						}
						return data;
					}

					function generateStemData() {
						var data = [];
						
						
						for (var i = 0; i < 1000; i++){
							data.push({
								x: i,
								y: freq_stem[i]
							});
						}
						return data;
					}
					
					function getDataSet() {
						var dataset = [];
						
						dataset.push({label: title,
							backgroundColor: getRandomColor(),
							data: generateData() })
						return dataset;
					}

					function getBothDataSet() {
						var dataset = [];
						
						dataset.push({label: "original",
							backgroundColor: getRandomColor(),
							data: generateOriData() })
						dataset.push({label: "stemming",
							backgroundColor: getRandomColor(),
							data: generateStemData() })
						return dataset;
					}
					
					function getRandomColor() {
						var letters = '0123456789ABCDEF'.split('');
						var color = '#';
						for (var i = 0; i < 6; i++ ) {
							color += letters[Math.floor(Math.random() * 16)];
						}
						return color;
					}
					

					var scatterChartData = {
						datasets : getDataSet(),
					};

					var scatterChartDataBoth = {
						datasets : getBothDataSet(),
					}

					window.onload = function() {
						var ctx = document.getElementById('canvas').getContext('2d');
						
						if(title.localeCompare('Both') == 0){
							window.myScatter = Chart.Scatter(ctx, {
								data: scatterChartDataBoth,
								options: {
									title: {
										display: true,
										text: 'Scatter Chart'
									},
								}
							});
						} else {
							window.myScatter = Chart.Scatter(ctx, {
								data: scatterChartData,
								options: {
									title: {
										display: true,
										text: 'Scatter Chart'
									},
								}
							});
						}
					};

					{% comment %} this function listens radio buttons to switch tab {% endcomment %}
					function openClass(className) {
						var i, x;
						// get class="container" in page
						x = document.getElementsByClassName("container");
						//for all x class="container"  => display:none (hide show)
						for (i = 0; i < x.length; i++) {
							x[i].style.display = "none";
						}
						if (className.localeCompare('both') == 0) {
							document.getElementById("canvas").style.display = "block";
							document.getElementById("container_table").style.display = "table";
							document.getElementById("chart_title").style.display = "block";
						} 
						//show only clicked content
						else if (className.localeCompare('container_table') == 0) {
							document.getElementById(className).style.display = "table";
						} else {
  							document.getElementById(className).style.display = "block";
							document.getElementById("chart_title").style.display = "block";
						}
					}

					{% comment %} document.getElementById('option1').addEventListener('click', function() {
						scatterChartData.datasets.forEach(function(dataset) {
							dataset.data = dataset.data.map(function() {
								return {
									x: randomScalingFactor(),
									y: randomScalingFactor()
								};
							});
						});
						window.myScatter.update();
					}); {% endcomment %}
				</script>
				{% comment %} chart above {% endcomment %}
				<br>

				{% comment %} table below {% endcomment %}
				{% if not freq|check_empty %}
				<table class="table table-striped container" id="container_table">
					<thead class="thead-dark">
						<tr>
						<th scope="col">Frequency</th>
						<th scope="col">Word</th>
						<th scope="col">#</th>
						</tr>
					</thead>
					<tbody>
						{% for i in top_words %}
						<tr>
						<th scope="row">{{ freq|get_element:forloop.counter0 }}</th>
							<td>{{ i }}</td>
							<td>{{ forloop.counter0 }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
				{% endif %}
				{% comment %} table above {% endcomment %}
				{% comment %} table below {% endcomment %}
				{% if freq|check_empty %}
				<table class="table table-striped table-bordered container" id="container_table">
					<thead class="thead-dark">
						<tr>
						<th scope="col">Frequency after stemming</th>
						<th scope="col">Stem Word</th>
						<th scope="col">#</th>
						<th scope="col">Origin Frequency</th>
						<th scope="col">Origin Word</th>
						<th scope="col">#</th>
						</tr>
					</thead>
					<tbody>
						{% for i in top_words_ori %}
						<tr>
						<th scope="row">{{ freq_stem|get_element:forloop.counter0 }}</th>
							<td>{{ top_words_stem|get_element:forloop.counter0 }}</td>
							<td>{{ forloop.counter0 }}</td>
							<td>{{ freq_ori|get_element:forloop.counter0 }}</td>
							<td>{{ i }}</td>
							<td>{{ forloop.counter0 }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
				{% endif %}
				{% comment %} table above {% endcomment %}
			</div>
		</div> <!-- /#page-content-wrapper -->
	</div> <!-- /#wrapper -->
	<!-- Bootstrap core JavaScript -->
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.bundle.min.js"></script> <!-- Menu Toggle Script -->
	<script>
		$(function(){
		$("#menu-toggle").click(function(e) {
			e.preventDefault();
			$("#wrapper").toggleClass("toggled");
		});

		$(window).resize(function(e) {
			if($(window).width()<=768){
			$("#wrapper").removeClass("toggled");
			}else{
			$("#wrapper").addClass("toggled");
			}
		});
		});
		
	</script>
	{% comment %} background above {% endcomment %}

</body>
</html>
