{% load static %}
{% load search_extra %}
{% load crispy_forms_tags %}

<html lang="en">
<head>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!------ Include the above in your HEAD tag ---------->


</head>
<body>
	{% comment %} background below {% endcomment %}
	<nav class="navbar navbar-expand navbar-dark bg-primary"> <a href="#menu-toggle" id="menu-toggle" class="navbar-brand"><span class="navbar-toggler-icon"></span></a> <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
		<div class="collapse navbar-collapse" id="navbarsExample02">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"> <a class="nav-link" href="{% url 'zipf'%}">Home <span class="sr-only">(current)</span></a> </li>
			</ul>
			<form class="form-inline my-2 my-md-0"> </form>
		</div>
	</nav>
	
	<h1>{{title}}</h1>
	{% for w in abstract %}
		{% if forloop.counter0 in pos %}
			<mark>{{ w }}</mark>
		{% else %}
			{{ w }}
		{% endif %}
		
	{% endfor %}

</body>
</html>
