{% load static %}
{% load search_extra %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>IIrHW4</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href={% static "css/Highlight-Blue.css" %}>
    <link rel="stylesheet" href={% static "css/hw4_styles.css" %}>
</head>

<body>
    <div class="highlight-blue">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">TF-iDF</h2>
                <p class="text-center">Implement 3 kinds of tf-idf method</p>
            </div>
            <div class="buttons"><a class="btn btn-primary" role="button" id="other_m">Other METHOD</a></div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <form name="form" id="form">
                        <input type="text" name="keyword" id="keyword"/>
                        <input type="button" class="btn btn-outline-primary" name="submit" value="query" onclick="sendQuery();" />
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div>
{#        show formula images #}
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <span class="badge badge-pill badge-primary">tf</span>
                </div>
                <div class="col-md-3">
                    <span class="badge badge-pill badge-success">idf</span>
                </div>
                <div class="col-md-3">
                    <span class="badge badge-pill badge-primary">tf</span>
                </div>
                <div class="col-md-3">
                    <span class="badge badge-pill badge-success">idf</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <img src={% static formula|get_element:0 %} id="image0">
                </div>
                <div class="col-md-3">
                    <img src={% static formula|get_element:3 %} id="image1">
                </div>
                <div class="col-md-3">
                    <img src={% static formula|get_element:0 %} id="image2">
                </div>
                <div class="col-md-3">
                    <img src={% static formula|get_element:3 %} id="image3">
                </div>
            </div>
        </div>
{#        choose formula #}
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="dropdown"><button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button">tf </button>
                        <div class="dropdown-menu"><a class="dropdown-item" id="l_tf_1">raw count</a><a class="dropdown-item" id="l_tf_2">term frequency</a><a class="dropdown-item" id="l_tf_3">log normalization</a></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="dropdown"><button class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button">idf </button>
                        <div class="dropdown-menu"><a class="dropdown-item" id="l_idf_1">inverse document frequency</a><a class="dropdown-item" id="l_idf_2">unary</a><a class="dropdown-item" id="l_idf_3">inverse document frequency smooth</a></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="dropdown"><button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button">tf </button>
                        <div class="dropdown-menu"><a class="dropdown-item" id="r_tf_1">raw count</a><a class="dropdown-item" id="r_tf_2">term frequency</a><a class="dropdown-item" id="r_tf_3">log normalization</a></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="dropdown"><button class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button">idf </button>
                        <div class="dropdown-menu"><a class="dropdown-item" id="r_idf_1">inverse document frequency</a><a class="dropdown-item" id="r_idf_2">unary</a><a class="dropdown-item" id="r_idf_3">inverse document frequency smooth</a></div>
                    </div>
                </div>
            </div>
        </div>
{#        choose dataset #}
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="dropdown"><button class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button">Dataset </button>
                        <div class="dropdown-menu"><a class="dropdown-item" id="l_dataset_1">colorectal cancer</a><a class="dropdown-item" id="l_dataset_2">genetic disease</a></div>
                    </div>
                </div>
                <div class="col-md-3" id="ld">
                </div>
                <div class="col-md-3">
                    <div class="dropdown"><button class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button">Dataset </button>
                        <div class="dropdown-menu"><a class="dropdown-item" id="r_dataset_1">colorectal cancer</a><a class="dropdown-item" id="r_dataset_2">genetic disease</a></div>
                    </div>
                </div>
                <div class="col-md-3" id="rd">
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-group" id="l_title_list">
{#                        {% for i in l_titles %}#}
{#                            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">#}
{#                                <div class="d-flex w-100 justify-content-between">#}
{#                                  <small>tfidf: {{ l_weights|get_element:forloop.counter0 }}</small>#}
{#                                </div>#}
{#                                <p class="mb-1">{{ i }}</p>#}
{#                              </a>#}
{#                        {% endfor %}#}
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="list-group" id="r_title_list">
{#                        {% for i in r_titles %}#}
{#                            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">#}
{#                                <div class="d-flex w-100 justify-content-between">#}
{#                                  <h5 class="mb-1">{{ i }}</h5>#}
{#                                  <small>tfidf: {{ r_weights|get_element:forloop.counter0 }}</small>#}
{#                                </div>#}
{#                                <p class="mb-1">{{ i }}</p>#}
{#                              </a>#}
{#                        {% endfor %}#}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script>
        var l_tf = 0;
        var l_idf = 0;
        var r_tf = 0;
        var r_idf = 0;
        var l_dataset = 0;
        var r_dataset = 0;

        var cos_sim = 0;

        {#window.onload = function () {#}
        {##}
        {##}

{#        left tf #}
        document.getElementById('l_tf_1').addEventListener('click', function () {
            document.getElementById('image0').src = "{% static formula|get_element:0 %}";
            l_tf = 0;
        });
        document.getElementById('l_tf_2').addEventListener('click', function () {
            document.getElementById('image0').src = "{% static formula|get_element:1 %}";
            l_tf = 1;
        });
        document.getElementById('l_tf_3').addEventListener('click', function () {
            document.getElementById('image0').src = "{% static formula|get_element:2 %}";
            l_tf = 2;
        });
        {#left idf#}
        document.getElementById('l_idf_1').addEventListener('click', function () {
            document.getElementById('image1').src = "{% static formula|get_element:3 %}";
            l_idf = 0;
        });
        document.getElementById('l_idf_2').addEventListener('click', function () {
            document.getElementById('image1').src = "{% static formula|get_element:4 %}";
            l_idf = 1;
        });
        document.getElementById('l_idf_3').addEventListener('click', function () {
            document.getElementById('image1').src = "{% static formula|get_element:5 %}";
            l_idf = 2;
        });
        {# right tf #}
        document.getElementById('r_tf_1').addEventListener('click', function () {
            document.getElementById('image2').src = "{% static formula|get_element:0 %}";
            r_tf = 0;
        });
        document.getElementById('r_tf_2').addEventListener('click', function () {
            document.getElementById('image2').src = "{% static formula|get_element:1 %}";
            r_tf = 1;
        });
        document.getElementById('r_tf_3').addEventListener('click', function () {
            document.getElementById('image2').src = "{% static formula|get_element:2 %}";
            r_tf = 2;
        });
        {# right idf #}
        document.getElementById('r_idf_1').addEventListener('click', function () {
            document.getElementById('image3').src = "{% static formula|get_element:3 %}";
            r_idf = 0;
        });
        document.getElementById('r_idf_2').addEventListener('click', function () {
            document.getElementById('image3').src = "{% static formula|get_element:4 %}";
            r_idf = 1;
        });
        document.getElementById('r_idf_3').addEventListener('click', function () {
            document.getElementById('image3').src = "{% static formula|get_element:5 %}";
            r_idf = 2;
        });
        {# dataset #}
        document.getElementById('l_dataset_1').addEventListener('click', function () {
            var label = document.getElementById('ld');
            label.innerHTML = "";
            label.innerHTML += '<h5>colorectal cancer</h5>';
            l_dataset = 0;
        });
        document.getElementById('l_dataset_2').addEventListener('click', function () {
            var label = document.getElementById('ld');
            label.innerHTML = "";
            label.innerHTML += '<h5>genetic disease</h5>';
            l_dataset = 1;
        });
        document.getElementById('r_dataset_1').addEventListener('click', function () {
            var label = document.getElementById('rd');
            label.innerHTML = "";
            label.innerHTML += '<h5>colorectal cancer</h5>';
            r_dataset = 0;
        });
        document.getElementById('r_dataset_2').addEventListener('click', function () {
            var label = document.getElementById('rd');
            label.innerHTML = "";
            label.innerHTML += '<h5>genetic disease</h5>';
            r_dataset = 1;
        });

        document.getElementById('other_m').addEventListener('click', function () {
            if(cos_sim === 0) cos_sim = 1;
            else cos_sim = 0;
        });

        function sendQuery(){
            // clear list
            document.getElementById("l_title_list").innerHTML = "";
            document.getElementById("r_title_list").innerHTML = "";

            // get input keyword
            const keyword = $('[id="keyword"]').val();

            var controller_url;
            if(cos_sim === 0) controller_url = "/search_engine/tfidf";
            else controller_url = "/search_engine/create_tfidf_vec"
            $.ajax({
                url: controller_url,
                type: 'POST',
                data:{keyword:keyword, ltf: l_tf, lidf: l_idf, rtf: r_tf, ridf: r_idf, ldata: l_dataset, rdata: r_dataset},
                success: function (data) {
                    var l_list = document.getElementById("l_title_list");
                    var r_list = document.getElementById("r_title_list");

                    for (i=0;i<data['l_titles'].length;i++){
                        l_list.innerHTML += '<a href="#" class="list-group-item list-group-item-action flex-column align-items-start">\n' +
                            '                                <div class="d-flex w-100 justify-content-between">\n' +
                            '                                  <small>query term weight/cos_similarity:' + data['l_weights'][i] + '</small>\n' +
                            '                                  <small>doc len:' + data['l_len'][i] + '</small>\n' +
                            '                                  <small>paragraph:' + data['lpara'][i] + '</small>\n' +
                            '                                </div>\n' +
                            '                                <p class="mb-1">' + data['l_titles'][i] + '</p>\n' +
                            '                              </a>';
                    }

                    for (i=0;i<data['r_titles'].length;i++){
                        r_list.innerHTML += '<a href="#" class="list-group-item list-group-item-action flex-column align-items-start">\n' +
                            '                                <div class="d-flex w-100 justify-content-between">\n' +
                            '                                  <small>query term weight/cos_similarity:' + data['r_weights'][i] + '</small>\n' +
                            '                                  <small>doc len:' + data['r_len'][i] + '</small>\n' +
                            '                                  <small>paragraph:' + data['rpara'][i] + '</small>\n' +
                            '                                </div>\n' +
                            '                                <p class="mb-1">' + data['r_titles'][i] + '</p>\n' +
                            '                              </a>';
                    }
                },
                error: function () {
                    alert("query failed")
                }
            });
        };

    </script>
</body>

</html>